<mat-sidenav class="sidenav" fixedInViewport
             [mode]="'over'"
             [opened]="false">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Election Data
        </mat-panel-title>
        <mat-panel-description>
          Presidential and Congressional Elections
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel *ngIf="presidentialData">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Presidential Election
            </mat-panel-title>
            <mat-panel-description>
              2016
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-expansion-panel *ngFor="let candidate of presidentialData.candidates">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{candidate.party ? 'R' : 'D'}} {{candidate.name}}
              </mat-panel-title>
              <mat-panel-description>
                Total Votes: {{candidate.voteTotal}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="display: flex; flex-direction: column">
              <div *ngFor="let key of labelKeys">
                <mat-label>{{labelMap[key]}}: {{candidate[key]}}</mat-label>
                <app-dialog-button [fieldValue]="candidate[key]" [fieldName]="labelMap[key]"
                                   (valueChange)="candidate[key] = $event">
                </app-dialog-button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Congressional Elections
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let congressionalElection of congressionalData">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{congressionalElection.year}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel *ngFor="let candidate of congressionalElection.candidates">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{candidate.party ? 'R' : 'D'}} {{candidate.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Total Votes: {{candidate.voteTotal}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column">
                  <div *ngFor="let key of labelKeys">
                    <mat-label>{{labelMap[key]}}: {{candidate[key]}}</mat-label>
                    <app-dialog-button [fieldValue]="candidate[key]" [fieldName]="labelMap[key]"
                                       (valueChange)="candidate[key] = $event">
                    </app-dialog-button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Demographic Data
        </mat-panel-title>
        <mat-panel-description>
          Show demographic data
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let key of demographicKeys">
          <mat-label>{{demographicLabels[key]}}: {{demographicGroups[key]}}</mat-label>
          <app-dialog-button [fieldValue]="demographicGroups[key]" [fieldName]="demographicLabels[key]"
                             (valueChange)="demographicGroups[key] = $event">
          </app-dialog-button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comment
        </mat-panel-title>
        <mat-panel-description>
          Comment on this precinct
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>{{comment}}</mat-list-item>
        <mat-list-item><app-dialog-button [fieldName]="'comment'" [fieldValue]="comment" (valueChange)="comment = $event"></app-dialog-button></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-sidenav>
