<mat-sidenav class="sidenav" fixedInViewport
             [mode]="'over'"
             [opened]="false">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Election Data
        </mat-panel-title>
        <mat-panel-description>
          Presidential and Congressional Elections
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel *ngIf="presidentialData">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Presidential Election
            </mat-panel-title>
            <mat-panel-description>
              2016
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-expansion-panel *ngFor="let candidate of presidentialData">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{candidate.party}} {{candidate.candidate}}
              </mat-panel-title>
              <mat-panel-description>
                Total Votes: {{candidate.voteTotal}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="display: flex; flex-direction: column">
                <mat-label>Total Votes: {{candidate.voteTotal}}</mat-label>
                <app-dialog-button [fieldValue]="candidate.voteTotal" [fieldName]='"Total Votes"'
                                   (valueChange)="candidate.voteTotal = $event">
                </app-dialog-button>
              </div>
          </mat-expansion-panel>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="congressionalData">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Congressional Elections
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let year of [2016, 2018]">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{year}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel *ngFor="let candidate of congressionalData[year]">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{candidate.party}} {{candidate.candidate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Total Votes: {{candidate.voteTotal}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column">
                  <mat-label>Total Votes: {{candidate.voteTotal}}</mat-label>
                  <app-dialog-button [fieldValue]="candidate.voteTotal" [fieldName]='"Total Votes"'
                                     (valueChange)="candidate.voteTotal = $event">
                  </app-dialog-button>
                </div>
              </mat-expansion-panel>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="populationData">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Population Data
        </mat-panel-title>
        <mat-panel-description>
          Show population data
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let key of populationKeys">
          <mat-label>{{populationLabels[key]}}: {{populationData[key]}}</mat-label>
          <app-dialog-button [fieldValue]="populationData[key]" [fieldName]="populationLabels[key]"
                             (valueChange)="populationData[key] = $event">
          </app-dialog-button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-sidenav>
