<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <app-attribute-menu></app-attribute-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-forms">
      <mat-form-field color="accent" appearance="fill" id="search">
        <input matInput placeholder="Search">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          matPrefix
          (click)="drawer.toggle()"
          *ngIf="true">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-button aria-label="Combine precincts" (click)="combiningPrecincts = true;">
        Combine two adjacent precincts
      </button>
      <button mat-button aria-label="Add new neighbor" (click)="addingNeighbor = true;" *ngIf="selectedPrecinct">
        Add neighbor to selected precinct
      </button>
      <button mat-button *ngIf="addingNeighbor" (click)="cancelAdd()">Currently Adding Neighbor (Click here to cancel)</button>
    </div>
    <app-map (notify)="onNotify($event)"></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
