.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-forms {
  display: flex;
  flex-direction: column;
  background-color: #b33163;
  width: max-content;
  margin: 15px;
  color: black;
  border-radius: 4px;
}

.map-edit-buttons {
  display: flex;
  flex-direction: column;
  background-color: #ff4294;
  width: max-content;
  margin: 15px;
  color: black;
  border-radius: 4px;
  position: fixed;
  right: 5px;
}
