<mat-expansion-panel [expanded]="true" style="overflow-y: auto; max-height: 77vh">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Potential errors detected</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let errorType of errorKeys" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{errorTypeMap[errorType]}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="currentErrors[errorType]">
        <mat-expansion-panel
          *ngFor="let error of currentErrors[errorType].slice(paginator.pageSize*paginator.pageIndex, paginator.pageSize*paginator.pageIndex + paginator.pageSize)"
          [style.background-color]="error.resolved ? '#78BD8F' : ''">
          <mat-expansion-panel-header (click)="goToError(error)">
            <mat-panel-title>ID: {{error.id}}</mat-panel-title>
            <mat-panel-description *ngIf="error.resolved">Resolved</mat-panel-description>
          </mat-expansion-panel-header>
          Data Source:
          <a href="https://{{error.dataSource}}" target="_blank">
            <button mat-button>{{error.dataSource}}</button>
          </a>
          <br/>{{error.precinctUid.split('_').join(' ')}}
          <div><br/>
            <button mat-raised-button color="accent" *ngIf="errorType === 'UNASSIGNED_AREA'" (click)="defineGhostPrecinct(error)">
              Define Ghost Precinct
            </button>
          </div>
        </mat-expansion-panel>
        <mat-paginator #paginator [pageSize]="10"></mat-paginator>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-expansion-panel>
