<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let errorType of errorKeys" class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{errorType}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="currentErrors[errorType]">
      <mat-expansion-panel *ngFor="let error of currentErrors[errorType]">
        <mat-expansion-panel-header (click)="goToError(error)">
          <mat-panel-title>
            ID: {{error.id}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        Data Source:
        <a href="https://{{error.dataSource}}" target="_blank">
          <button mat-button>{{error.dataSource}}</button>
        </a>
      </mat-expansion-panel>
    </div>
  </mat-expansion-panel>
</mat-accordion>
