/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "~angular-notifier/styles";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer {
}

.mat-expansion-panel-header, .mat-expansion-panel {

}

.leaflet-control-labels {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400
}

.table {
  width: 100%
}
