<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [mode]="'over'"
               [opened]="false">
    <app-attribute-menu></app-attribute-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-forms">
      <mat-form-field color="accent" appearance="fill" id="search">
        <input matInput placeholder="Search">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          matPrefix
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-divider></mat-divider>
      <app-error-list (notify)="initializePrecinct($event)"></app-error-list>
      <mat-form-field class="drop-down">
        <mat-label>State</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of ['AZ', 'OH', 'WI']" (click)="goToState(state)" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-info-sidenav></app-info-sidenav>
    <div class="map-edit-buttons">
      <button mat-icon-button aria-label="Combine precincts"
              matTooltipPosition="before" matTooltip="Select and Merge two Precincts"
              (click)="changeState(EditState.MERGING_PRECINCTS, 'Please select a precinct to merge into this one')"
              *ngIf="selectedPrecinct">
        <mat-icon>call_merge</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add new neighbor"
              matTooltipPosition="before" matTooltip="Add Neighbor to Selected Precinct"
              (click)="changeState(EditState.ADDING_NEIGHBOR, 'Please select a precinct to add as a neighbor');"
              *ngIf="selectedPrecinct">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add new neighbor"
              matTooltipPosition="before" matTooltip="Remove a Neighbor from Selected Precinct"
              (click)="changeState(EditState.REMOVING_NEIGHBOR, 'Please select a neighbor to remove');"
              *ngIf="selectedPrecinct">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add new neighbor"
              matTooltipPosition="before" matTooltip="Change the boundary of the selected precinct"
              (click)="changeState(EditState.EDIT_BOUNDARY, 'Change the boundary of the selected precinct');"
              *ngIf="selectedPrecinct">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add new neighbor"
              matTooltipPosition="before" matTooltip="Create a new boundary for the selected precinct"
              (click)="changeState(EditState.CREATE_BOUNDARY, 'Create a new boundary for the selected precinct');"
              *ngIf="selectedPrecinct">
        <mat-icon>fiber_new</mat-icon>
      </button>
      <button mat-icon-button
              matTooltipPosition="before" matTooltip="(Click here to cancel)"
              id="cancelNeighbors"
              *ngIf="modifyingPrecinct"
              (click)="cancelState()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="map-container">
      <div class="map-frame">
        <div id="map">
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
